rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /todos/{todoId} {
      allow read, write: if true;
    }
    
    match /dailyNotes/{noteId} {
      allow read, write: if true;
    }

    match /skills/{skillId} {
      allow read, write: if true;
    }

    match /projects/{projectId} {
      allow read, write: if true;
    }

    match /playlists/{playlistId} {
      allow read, write: if true;
    }
  }
}
